<div class="login-wrap">
  <div class="signup-form">
    <p class="sign" align="center">おかえりなさい</p>
    <form class="form-signup">
      <input class="un " type="text" align="center" placeholder="メールアドレス">
      <input class="pass" type="password" align="center" placeholder="パスワード"><br>
      <a class="submit" align="center">ログイン</a>
    </form>
  </div>
</div>
