<div class="signup-wrap">
  <div class="signup-left-wrap">
    <h1>オシャレで、つながる</h1>
    <p>Alamodeは、簡単におしゃれ男子になれるように、自由投稿ができるメンズ向けのファッションサイトです。みんなのファッション知識をシェアしてつながろう！</p>
  </div>
  <div class="signup-right-wrap">
    <!-- <h1>さあ、つながろう</h1>-->
    <div class="signup-form">
      <p class="sign" align="center">さあ、つながろう</p>
      <form class="form-signup">
        <input class="un " type="text" align="center" placeholder="ユーザID">
        <input class="un " type="text" align="center" placeholder="メールアドレス">
        <input class="pass" type="password" align="center" placeholder="パスワード"><br>
        <a class="submit" align="center">新規登録</a>
      </form>
    </div>
  </div>
</div>
