<div class="post-index">
    <div class="post-content" %>
        <% @post.each do |post| %>
            <ul>
                <li class="title"><%= post.title %></li>
                <div class="">
                    <
                </div>
                <li><%= post.content %></li>
            </ul>xx
        <% end %>
    </div>
</div>