// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* reset ================================ */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  height: 100%;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  background-color: #fffafa;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  text-align: center;
}

main {
  width: 100%;
  flex: 1;
}


/* ヘッダー ================================ */
header {
  height: 64px;
  width: 100%;
  background-color: #E1403B;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
  list-style: none;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
  padding-right: 15px;
}

/* フッター ================================ */
footer {
  height: 64px;
  text-align: center;
  border-style: solid none none none;
  border-width: thin;
  line-height: 64px;
}
/* top ================================ */
.top-main {
}

.top-message {
  position: relative;
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: auto;
  color: #696969;
  background-color: #fffafa;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/top.jpg");
}

.top-message h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

.top-message p {
  font-size: 24px;
}

//--------------------Login //
.login-wrap {
  position: relative;
  width: 100%;
  margin-top: 13%;
  text-align: center;
  //  overflow: hidden;
}
.signup-wrap {
  position: relative;
  width: 100%;
  margin-top: 13%;
  text-align: center;
  //  overflow: hidden;
}

.signup-wrap h1 {
  line-height: 100px;
  text-align: center;
}
.signup-left-wrap {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 49%;
  padding: 5% 5% 5% 15%;
}
.signup-right-wrap {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 49%;
  padding-right: 15%;
  text-align: center;
}
@media (max-width: 1000px){
  .signup-left-wrap {
    width: 100%;
    padding: 5%;
  }
  .signup-right-wrap {
    width: 100%;
    padding: 5%;
  }
}
.signup-form {
  background-color: #FFFFFF;
  position: relative;
  width: 400px;
  //height: 450px;
  height: auto;
  margin: 0;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  display: inline-block;
}

.sign {
  padding-top: 40px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}
.un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  //  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

form.form-signup {
  padding-top: 40px;
  padding-bottom: 50px;
}

.pass {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  //  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  //margin-left: 10%;
  font-size: 12px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.signup-form a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}
