  .post-content{
      background-color:white;
      height:100%;
      padding-top: 100px;
  }

  .post-movie{
      float:left;
  }

  .post-side{
    float:left;
  }

  .post-new{
    background-color:white;
    height:100%;
    padding-top: 100px;
  }

  input{
      background-color:orange;
  }

  