<div class="header-logo">
  <a href="/">Alamode</a>
</div>
<ul class="header-menus">
  <li>
    <a href="/about">Alamodeとは</a>
    <a href="/about">ログイン</a>
    <a href="/about">会員登録</a>
  </li>
</ul>
